@{
    ViewData["Title"] = "Orders";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <a asp-action="Place">Place Order</a>
</div>
<hr />
<div>
    <a asp-action="LocationSearch">Search Orders by Location</a>
</div>
<hr />
<div>
    <a asp-action="CustomerSearch">Search Orders by Customer</a>
</div>
