@model Project1.WebApp.Models.OrderLocationSearch

@{
    ViewData["Title"] = "Search Orders of Location";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LocationSearch">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label">Location</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.LocationId, Model.Locations.Select(l => new Microsoft.AspNetCore.Mvc.Rendering.SelectListItem { Text = l.ToString(), Value = l.Id.ToString() }))
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="List Orders" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Orders</a>
</div>
